# TME Studio code owners

# Default owners for everything in the repo
*                   @aignostics/tme-studio-admins

# CI/CD and infrastructure
.github/            @aignostics/tme-studio-admins
noxfile.py          @aignostics/tme-studio-admins
mise.toml           @aignostics/tme-studio-admins

# Documentation
*.md                @aignostics/tme-studio-admins

# Core source code
src/                @aignostics/tme-studio-admins

# Tests
tests/              @aignostics/tme-studio-admins

# Reference: <https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners>
